* {
  box-sizing: border-box;
}

html {
  
}

h1 {
  text-align: center;
  font-size: 50px;
}

.current-turn {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
}

.player-turn {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
}

#tic-tac-toe {
  margin-left: 37%;
}

button.square {
  background-color: #78bec5;
  border-radius: 25%;
  border: none;
  cursor: pointer;
}

button.square:hover {
  background-color: rgba(255, 102, 153, 0.8);
  border-radius: 25%;
  border: none;
  transition: all 0.2s linear;
}

.square {
  height: 100px;
  width: 100px;
  font-size: 50px;
  margin: 5%;
}

.reset {
  background-color: Transparent;
  font-weight: bolder;
  border: 2px solid #78bec5;
  margin-top: 2%;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
  height: 5em;
  width: 20em;
}

.reset:hover {
  background-color: rgba(255, 102, 153, 0.8);
  border-radius: 15px;
  border: none;
  transition: all 0.2s linear;
}

.message {
  text-align: center;
  font-size: 50px;
  float: left;
  margin-top: 0;
  margin-left: 10%;
}