* {
  box-sizing: border-box;
}

html {
  
}

h1 {
  text-align: center;
  font-size: 50px;
}

.current-turn {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
}

.player-turn {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
}

#tic-tac-toe {
  margin-left: 37%;
}

button.square {
  background-color: #78bec5;
  border-radius: 25%;
  border: none;
}

button.square:hover {
  background-color: #ff6699;
  border-radius: 25%;
  border: none;
}

.square {
  height: 100px;
  width: 100px;
  font-size: 50px;
  margin: 5%;
}

.reset {
      background-color: Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.message {
  text-align: center;
  font-size: 50px;
}